/**** BODY ****/

body {
    color: #eaf8bf;
}

/**************/

/**** NAVEGADOR ENTRE PÁGINAS ****/
.header .navbar {
    background-color: transparent !important;
}

header {        
    background-color: #ffaf87;    
}

nav ul li{    
    padding: 20px;    
}

nav ul li a{            
    font-family: 'patrick hand';
    font-size: 20px;
}

nav ul li:hover{        
    background-color: #ffaf87;
    font-weight: bolder;
    transform: scale(1.2);
}

/**********************************/

/**** TAMAÑO DE LOGO, CARRITO DE COMPRAS Y LOGIN ****/

.logo {
    height: auto;
    width: 50px;
}

/***************************************************/

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

/**** MAIN ****/

main {
    background-color: #ff8e72;
}

/*************/

/**** footer ****/

footer{     
    background-color: #ffaf87;
    color: black;
}

/****************/

.star{
    border-top: 10px;
    display: block;
    width: auto;
    height: 16px;
    background-image: url("../public/img/star.svg");        
    background-size: 50px 16px;
    
}



/**********************/

/**** CARRUSEL ****/
#description-carrusel {
    width: 50vh;
    text-align: justify;
    padding: 0 10vh 0 0;
}

.carrusel {
    justify-content: center;
    display: flex;
}

.carrusel div {
    text-align: center;
    display: inline-block;
}

#carrusel-image {
    background-image: url("../public/img/carrusel1.jpg");
    width: 100vh;
    height: 100vh;
    background-size: 100% 100%;
}

#reviews {
    background-image: url("../public/img/lorem-ipsum.jpg");
    background-repeat: round;
    background-size: 50% 50%;
    width: 220vh;
    height: 100vh;
}

/*****************/


/* ABOUT PAGE */

#about_container{
    display:grid;    
    grid-template-areas: "head head head" "content1 content2 content3" "description1 description2 description3";
    justify-items: center;
}

#about_container img {
    width: 420px;
    height: auto;
}

#head_about_container{
    grid-area:head;
}

#head_about_container img {
    width: 1080px;
    height: auto;
}

#content_about_container_1{          
    grid-area: content1;
}

#content_about_container_2{        
    grid-area: content2;
}

#content_about_container_3{    
    
    grid-area: content3;
}

.description_about_container {
    text-align: justify;
    width: 420px;
}

#description_about_container_1{
 
    grid-area: description1;
}

#description_about_container_2{
    
    grid-area: description2;
}

#description_about_container_3{
    grid-area: description3;
}