
/** BODY **/
$body-color: #eaf8bf;
/*********/

/** HEADER **/
$header-color: #ffaf87;

/*********/

/** NAVBAR **/
$navbar-link-color: #1B9AAA !important;
$navbar-hover-color: #ffaf87;
/************/

/** MAIN **/
$main-color: #ff8e72;
/**********/

/** FOOTER **/
$footer-text-color: black;
$footer-background-color: #ffaf87;

/** RESPONSIVE **/
$display-max-width: none;
/***************/

/** DIVIDER **/
$divider-background-color: rgba(0, 0, 0, .1);
$divider-border-color: rgba(0, 0, 0, .15);
/*************/