@import "variables";
@import "mixins";



/**** BODY ****/

body {
    color: $body-color;
}

/**** NAVEGADOR ENTRE PÁGINAS ****/
header {        
    background-color: $header-color;    
}

nav {
    ul {
        li{    
            padding: 20px;
            
            a{            
                font-family: 'patrick hand';
                font-size: 20px;
                color: $navbar-link-color;
            }

            &:hover{        
                background-color: $navbar-hover-color;
                font-weight: bolder;
            }
        }
    }

    
}

.card-image-head{
    @include sizeWidthHeight(288px, 430px);    
}

.product-image {
    @include sizeWidthHeight(auto, 180px);
}

.reviews {
    height: 300px;
}

/**** TAMAÑO DE LOGO, CARRITO DE COMPRAS Y LOGIN ****/

.logo {    
    @include sizeWidthHeight(50px, auto);
}

.mini {
    @include sizeWidthHeight(40px, auto);
}

.logo-nav {
    @include sizeWidthHeight(250px, auto);    
}

.product-scroll {
    height: 120px;
    overflow-y: scroll;
}

/***************************************************/

.divider {
    height: 1rem;
    background-color: $divider-background-color;
    border: solid $divider-border-color;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em $divider-background-color, inset 0 .125em .5em $divider-border-color;
  }

/**** MAIN ****/

main {
    background-color: $main-color;
}

/*************/

/**** footer ****/

footer{     
    background-color: $footer-background-color;
    color: $footer-text-color;
}

.footer-image{
    @include sizeWidthHeight(200px, auto);
}

/****************/

.star{
    border-top: 10px;
    display: block;
    @include sizeWidthHeight(auto, 16px);    
    background-image: url("../public/img/star.svg");        
    background-size: 50px 16px;    
}

/**********************/

/**** CARRUSEL ****/
.description-image {    
    @include sizeWidthHeight(500px, auto);    
}
/*****************/


/* ABOUT PAGE */

.about-container-header-img {
    @include sizeWidthHeight(1100px, auto);   
}

.about-container-img {
    @include sizeWidthHeight(350px, auto);     
}

.p-justify {
    text-align: justify;
}

@media only screen and (max-width: 576px) {
    .about-container-header-img {
        display: $display-max-width;
    }

    .about-container-img{
        display: $display-max-width;
    }

    .description-image {
        display: $display-max-width;
    }

    .footer-image {
        display: $display-max-width;
    }
}

@media only screen and (max-width: 768px) {
    .about-container-header-img {
        @include sizeWidthHeight(700px, auto);   
    }

    .about-container-img {
        @include sizeWidthHeight(220px, auto);     
    }

    .description-image {    
        @include sizeWidthHeight(auto, 350px);    
    }
}